name: First Pipeline
on:
  push:
    branches: ['main']

jobs:
  build:
  runs-on: ubuntu-latest
  steps:
    -name: 'creation'
    -uses: actions/checkout@v4

  
  test:
  runs-on: ubuntu-latest
  needs: build
  steps:
  -name: 'Test'
  run: | 
      if [- f 'index.html']&&['index.css'] then 
      echo "les fichier à été trouvé"
      else
        exit 1
      fi
  
  deploy:
  runs-on: ubuntu-latest
  needs: test
  environment: production
  steps:
  -name: deploy
  run: echo "deploy avec successs"