name: First Pipeline
on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: creation
        uses: actions/checkout@v4

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Recuperer le code
        uses: actions/checkout@v4 # Obligatoire pour que ce job voie vos fichiers
      - name: Test
        run: |
          if [ -f "index.html" ] && [ -f "index.css" ]; then
            echo "les fichiers ont été trouvés"
          else
            echo "Erreur : index.html ou index.css manquant"
            exit 1
          fi

  deploy:
    runs-on: ubuntu-latest
    needs: test
    environment: production
    steps:
      - name: deploy
        run: echo "deploy avec successs"